.row{
	--bs-gutter-x: 0 !important; //para que no tenga scroll horizontal provocado por boostrap
}

body {
    background-image: linear-gradient(to top, #000000, #333333, #000000);
    
    

}

@media only screen and (min-width: 768px) and (orientation: landscape) {

    body {
        background-image: linear-gradient(to top, #000000, #333333, #000000);
    
       
    }
    
}