
.formulario{
    background-color: rgb(36, 38, 39);
    border: 2px solid #835069;
    border-radius: 10px;
    box-shadow: 1px 1px 10px -1px rgba(252, 252, 252, 0.884);
    font-size: 16px;
    text-align:center;
    padding: 5px;
    
}


.boton {
	@include b0t0n (rgb(255, 255, 255), rgb(90, 84, 90), rgb(211, 151, 193));
    &:hover{
        @include b0t0n (rgb(255, 255, 255), rgb(211, 151, 193),  rgb(90, 84, 90));
    }
}

h1{
    text-align: center;
    color: map-get($map: $colors, $key:HoverColor );
}

@media only screen and (min-width: 768px) and (orientation: landscape) {

    h2{
        text-align: left;
    }
    .text-left{
        padding: 1rem 8rem 1rem 1rem;
    }
}