.site-footer {
    height: 150px;
    background-color: map-get($colors,FooterBG);
    color: map-get($colors,TituloFooterColor);
    .iconos a {
        text-decoration: none;
        color: map-get($colors,IconosColor);
        font-size: 25px;
        margin: 10px;

        &:hover {
            color:map-get($colors, HoverColor);
            transform: scale(1.2);
            transition: ease-in-out 0.8s;
        
        }
    }
}





