.site-footer {
    height: 150px;
    background-color: rgb(12, 51, 22);
    color: rgb(239, 242, 245);
    .iconos a {
        text-decoration: none;
        color: rgb(255, 255, 255);
        font-size: 25px;
        margin: 10px;

        &:hover {
            color: aquamarine;
            transform: scale(1.2);
            transition: ease-in-out 0.8s;
        
        }
    }
}





