
.container-fluid {
   width: 100%;
   background-image: linear-gradient(to left, rgb(44, 41, 41),rgb(22, 22, 43), rgb(124, 34, 84)); 
    
    

    .logocherry {
        height: 150px;
        border-radius: 100px;
    }

    li {
        a {
            color: map-get($colors,IconosColor);

            &:hover {
                color: map-get($colors,HoverColor);
                transition: ease-in-out 0.8s;
            }
        }
    }

}
