
.container-fluid {
   width: 100%;
    background-color: map-get($colors,HeaderBG ); 
    
    

    .logohoja {
        height: 150px;
    }

    li {
        a {
            color: map-get($colors,IconosColor);

            &:hover {
                color: map-get($colors,HoverColor);
                transition: ease-in-out 0.8s;
            }
        }
    }

}
