.hd {
    background-image: linear-gradient(140deg, rgb(22, 22, 43),rgb(78, 22, 53),rgb(22, 22, 43),rgb(56, 14, 42));
    box-shadow: 1px 1px 10px -1px rgba(90, 146, 172, 0.884);
    animation-name: fondo;
    animation-duration: 90s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    background-size: 500%;
    

    @keyframes fondo{
        0%{
            background-position: 0% 50%;

        }
        50%{
            background-position: 100% 50%;
        }
        100%{
             background-position: 0% 50%;
        }
        
    }

    .logocherry {
        height: 150px;
        border-radius: 100px;
        box-shadow: 1px 1px 10px -1px rgba(252, 252, 252, 0.884);
    }

    li {
        padding-right: 1.6rem;
        a {
            color: map-get($colors, IconosColor);
            font-size: 1.1rem;
            

            &:hover {
                color: map-get($colors, HoverColor);
                transition: ease-in-out 0.6s;
            }
        }
    }

}