
.img-Index {
	display: flex;
	width: 100vw;
    min-height: 45vh;
	justify-content: center;
	margin: auto;

}

                                                                             
@media only screen and (min-width: 768px) and (orientation: landscape) {


    .img-Index {
        display: flex;
        width: 75vw;
        justify-content: center;
    
    }
}
