.integrantes {

    align-items: center;
    padding: 50px;
}

#integrantesTitulo {

    text-align: center;

}


.integrantesContenedor {
    display: block;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    margin: auto;
    margin-bottom: 3rem;
    border-radius: 10px;

    .musico {
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 1px 1px 10px -1px rgba(252, 252, 252, 0.884);
        background-image: linear-gradient(to left, rgba(12, 12, 44, 0.527), rgba(65, 37, 65, 0.507));
        height: 450px;
        border-radius: 5px;
        margin-top: 3rem;
    
    
    }
}

#musicoImagen {

    border-radius: 100%;
    width: 200px;
    height: 200px;
    padding: 0px;
}



@media only screen and (min-width: 768px) and (orientation: landscape) {

    
    
    .integrantesContenedor {
        display: grid;
        grid-template-columns: repeat(2, 45vw);
        grid-template-rows: repeat(1, 60vh);
        align-items: center;
        justify-content: space-around;
        max-width: 100%;
        margin: auto;
        margin-bottom: 3rem;
        border-radius: 10px;
        
        .musico {
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: 1px 1px 10px -1px rgba(252, 252, 252, 0.884);
            background-image: linear-gradient(to left, rgba(12, 12, 44, 0.527), rgba(65, 37, 65, 0.507));
            height: 450px;
            border-radius: 5px;
            margin-top: 3rem;
            
        }
        
    }

}