$colors: (
  
    HoverColor: rgba(118, 89, 151, 0.986),
    FooterBG: rgb(39, 39, 39),
    IconosColor: rgb(255, 255, 255),
    TituloFooterColor: rgb(255, 255, 255),
    _withe: rgb(255, 255, 255),
    
);