$colors:(
    HeaderBG: rgb(12, 51, 22),
    HoverColor:rgb(63, 248, 248),
    ProductItemBG: rgb(255, 255, 255),
    FooterBG: rgb(12, 51, 22),
    IconosColor: rgb(255, 255, 255),
    TituloFooterColor: rgb(255, 255, 255),
);