@mixin b0t0n ($textColor, $bgColor, $borderColor){
    border: none;
    padding: 10px;
    margin: 20px;
    border-radius: 03px;
    background-color: $bgColor;
    color: $textColor;
    border-bottom: 03px solid $borderColor;
    

}